* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: 400;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #000;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'] {
  transition: 0.3s all;
}
input[type='text']:focus::placeholder,
input[type='email']:focus::placeholder,
input[type='number']:focus::placeholder,
input[type='password']:focus::placeholder {
  color: #8367d8;
  font-weight: 500;
}
